<clr-datagrid class="datagrid-compact">
    <clr-dg-action-bar>
        <button class="btn btn-outline btn-sm" (click)="requestPage.open()">
            <!--<clr-icon shape="check" title="Check"></clr-icon>-->
            Создать заявку
        </button>
    </clr-dg-action-bar>
    <!-- ... -->
    <clr-dg-column>Дата заявки</clr-dg-column>
    <clr-dg-column>Номер заявки</clr-dg-column>
    <clr-dg-column>Инициатор Ф.И.О</clr-dg-column>
    <clr-dg-column>Подразделение</clr-dg-column>
    <clr-dg-column>Статус заявки</clr-dg-column>
    <clr-dg-placeholder>We couldn't find any users!</clr-dg-placeholder>
    <!-- ... -->
</clr-datagrid>

<fe-request-page #requestPage></fe-request-page>
