/* You can add global styles to this file, and also import other style files */
//@import '~@clr/ui/clr-ui-dark.min.css';
// @import '~@cds/core/styles/theme.dark.min.css';

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/*
body {
  background-color: #1b2a32;
  // height: 100%;
}
*/
.main-container .content-container .content-area {
  //padding: 0rem 1rem 1rem 1rem;
  //padding: 0;
  padding-bottom: 0;
}

/*
.app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.app-loading .spinner {
  animation: rotate 1s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
*/
.cdk-overlay-container,
.cdk-global-overlay-wrapper,
.cdk-overlay-connected-position-bounding-box {
  z-index: 9000;
}

.tab-content {
  width: 100%;
}

.clr-control-container {
  width: 100%;
}

.tabs-vertical .nav {
  margin-right: 0rem;
}

.tabs-vertical .nav .nav-link.active {
  background-color: #fafafa;
  color: #0072a3;
  font-weight: 500;
}

.tabs-vertical .nav .nav-link:hover {
  color: #0072a3;
  //box-shadow: inset 0.15rem 0 #fafafa;
}
.tabs-vertical .nav .nav-link:not(.active):hover {
  background-color: #fafafa;
}

.tabs-vertical .nav-link:focus {
  outline: none;
  // box-shadow: none;
}

.btn:focus {
  outline: none;
}
/*
.btn:active {
  box-shadow: 0;
  transform: none;
}
*/
button.datagrid-column-title:focus {
  outline: none;
  // box-shadow: none;
}

.datagrid-table .datagrid-column .datagrid-filter-toggle {
  outline: none;
}
button.datagrid-column-title {
  text-decoration: none !important;
}

.datagrid-table .datagrid-cell:focus,
.datagrid-table .datagrid-column:focus {
  outline: none;
  // box-shadow: none;
}

.datagrid-table input[type='checkbox']:focus + label::before,
.clr-control-container input[type='checkbox']:focus + label::before {
  outline: none;
}

/*
.datagrid-table .datagrid-cell {
    min-width: 25px !important;
  //font-size: 0.55rem;
}
*/
.clr-radio-wrapper input[type='radio']:focus + label:before {
  outline: none !important;
}

.clr-select-wrapper select:hover {
  background: unset !important;
  border-color: #0072a3;
}
.clr-input-group .clr-input-group-icon-action {
  outline: none;
}
