.clr-form-control {
  align-items: unset;
  margin-top: 1rem;
}

.clr-input,
.clr-textarea {
  width: 100%;
}

.clr-textarea {
  border-top: none;
  border-left: none;
  border-right: none;
}

.clr-textarea:focus {
  outline: none;
}
.button-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
